.submit-btn_disabled {
    color: #C4C4C4;
    background-color: #fff;
    outline: none;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    cursor: default;
}

.submit-btn_disabled:hover, .submit-btn_disabled:active, .submit-btn_disabled:focus {
    background-color: #fff;
    color: #C4C4C4;
}